{
  "presets": [
    "stage-2", 
    [
      "env", 
      {
        "modules": false,
        "targets": {
          "browsers": ["last 20 versions"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    "transform-runtime"
  ]
}