/* 改变主题色变量 */
$--color-primary: #0084ff;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import 'element-plus/lib/theme-chalk/index.css';

.el-header {
  position: absolute;
  top: 0;
  left: 0;
}
.el-main {
  padding: 0;
}
.el-input--small {
  font-size: 14px;
}
.el-input__inner {
  padding: 0 10px;
}
.el-textarea__inner {
  padding: 8px 10px;
}
.el-tabs__header {
  margin-bottom: 0;
}
.el-button--primary.is-plain{
  color: #0084ff;
  background: transparent;
  border-color: #0084ff;
}
.el-collapse-item__header {
  background-color: transparent;
}
.el-pagination button:disabled {
  background-color: transparent;
}