$primaryColor: #08A2BA;
$borderColor: #dadada;

.hsuna {
  background-color: #f8f8f8;
}

.hsuna-header {
  position: relative;
  box-shadow: 0 0 6px #ccc;
  background-color: #fff;

  .hsuna-breadcrumb {
    padding: 10px;
  }

  .hsuna-date {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.hsuna-body {
  margin: 10px;
  padding: 10px;
  background-color: #fff;

  .hsuna-toolbar {
    padding: 5px;
    border-bottom: 1px solid $primaryColor;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .hsuna-table {
    padding: 5px;
  }
}
